Package: ns-admin-dbgsym
Package-Type: ddeb
Source: ns-admin
Version: 2.0.40
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 3601
Depends: ns-admin (= 2.0.40)
Section: debug
Priority: optional
Description: debug symbols for ns-admin
Build-Ids: 05ccedad2dbf6e6a0caf657b1223bc35601100bf
